@use "../mixins";
@use "../variables";
@use "sass:color";

.Luttes {
    @media screen and (max-width: 1300px) {
      column-gap: 2px;
      max-width: auto;
      min-width: 0;
    }
}

.img_lutte {
    width: 50%;
    height: auto; 
    margin: 0;
}

.Luttes_cartes {
    display: flex;
    height: auto;
    background-color: variables.$nuage;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    text-align: left;
    backdrop-filter: grayscale(100) contrast(70%) brightness(0.4);
    
    @media screen and (max-width: 1300px) {
        flex-direction: column;
        width: 400px;
    }
}

.text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px; 
    width: 50%; 
}

.titre_lutte {
    @include mixins.petit-titre;
    margin: 0;
    line-height: 1.5;
}

.titre_lutte2 {
    @include mixins.petit-titre-bold;
    margin: 0;
}

.text_lutte {
    @include mixins.contenu;
    margin: 0;
}

.link_lutte {
    @include mixins.lien;
    margin: 0;
}