/*--- Importation des partials ---*/
@use "../mixins";
@use "../variables";
@use "sass:color";

.footer {
    background-color: #0f0f0f;
    border: solid #0f0f0f;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 100vw;
    max-width: 100%;
    height: 100%;
    position: relative;
    @include mixins.phone {
      margin: auto;
      position: relative;
    }
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 5px;
    margin-top: 50px;
    @include mixins.phone {
      margin: 10px 30px;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 1fr;
      gap: 10px;
      position: relative;
    }
  }
  .grid-icon {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 20px;
    position: relative;
  }
  .item1 {
    grid-column-start: 2;
    grid-row-end: 1;
    grid-row: 1 / 4;
    @include mixins.tablet {
      margin: auto;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 4;
    }
  }
  .item2 {
    grid-column-start: 3;
    grid-row-end: 2;
    grid-row: 1 / 1;
    @include mixins.tablet {
      grid-column-start: 3;
      grid-column-end: 5;
    }
    @include mixins.phone {
      font-size: 12px;
      margin: 0px;
      grid-column-start: 2;
      grid-row-end: 1;
    }
  }
  .item3 {
    grid-column-start: 3;
    grid-row-end: 3;
    grid-row: 2;
    @include mixins.phone {
      font-size: 12px;
      margin: 0px;
      grid-column-start: 2;
      grid-row-end: 2;
    }
  }
  .item4 {
    grid-column-start: 3;
    grid-row-end: 4;
    grid-row: 3;
    margin-top: 50px;
    @include mixins.tablet {
      margin: auto 0px;
    }
    @include mixins.phone {
      font-size: 12px;
      margin: 0px;
      grid-column-start: 2;
      grid-row-end: 3;
    }
  }
  .item5 {
    grid-column-start: 3;
    grid-row-end: 5;
    @include mixins.phone {
      font-size: 12px;
      margin: 0px;
      grid-column-start: 2;
      grid-row-end: 5;
    }
  }
  .item6 {
    grid-column-start: 3;
    grid-row-end: 6;
    @include mixins.phone {
      font-size: 12px;
      margin: 0px;
      grid-column-start: 2;
      grid-row-end: 6;
    }
  }
  .logo-partenaire {
    margin: 100px 20px;
    width: 10vw;
  }
  .partenaire1 {
    margin-left: 20vw;
  }
  .ligne {
    background-color: #fff;
    width: 70vw;
    height: 0.1vh;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 6;
    @include mixins.phone {
      display: none;
    }
  }
  .logo-footer {
    width: 10vw;
    @include mixins.tablet {
      width: 16vw;
    }
    @include mixins.phone {
      margin: 0px;
      width: 16vw;
      grid-column-start: 2;
      grid-row-end: -7;
      bottom: 0px;
      left: 20vw;
    }
  }
  .text-adresse {
    color: #fff;
    @include mixins.text-footer;
    @include mixins.phone {
      font-size: 12px;
      margin: 0px;
    }
    @include mixins.tablet {
      font-size: 12px;
     }
  }
  .text-contact {
    color: #fff;
    @include mixins.text-footer;
    @include mixins.phone {
      font-size: 12px;
    }
    @include mixins.tablet {
      font-size: 12px;
     }
  }

  .grid_icon{
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr 1fr 1.7fr;
    @include mixins.phone {
      grid-template-rows: 1fr 1fr;
      margin-left: 50px;
      gap: 10px;
      position: absolute;
      top: 2vw;
    }
    @include mixins.tablet {
      gap: 30px;
      margin-right: 10vw;
    }
  }

  .icon {
    width: 10vw;
    margin: auto;
    max-width: 70px;
    grid-column-start: 2;
     @include mixins.phone {
      grid-row-start: 1;
      margin: auto;
    }
  }
   
  .icon1 {
    grid-column-start: 3;
    @include mixins.phone {
      width: 50px;
      grid-column-start: 1;
      grid-row-start: 1;
    }
  }
  
  .icon2 {
    grid-column-start: 4;
    @include mixins.phone {
      width: 50px;
      grid-column-start: 1;
      grid-row-start: 2;
    }
  }

  .icon3 {
    grid-column-start: 5;
    @include mixins.phone {
      width: 50px;
      grid-column-start: 1;
      grid-row-start: 3;
    }
  }

  .icon4 {
    width: 60px;
    grid-column-start: 6;
    @include mixins.phone {
      width: 50px;
      grid-column-start: 1;
      grid-row-start: 4;
    }
  }

  .icon5 {
    grid-column-start: 7;
    @include mixins.phone {
      width: 50px;
      grid-column-start: 1;
      grid-row-start: 5;
    }
  }
  .text-copyright {
    margin-top: 20px;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 4;
      @include mixins.phone {
        font-size: 12px;
        margin: 0px;
        grid-column-start: 2;
        grid-row-start: 9;
      }
    @include mixins.text-footer;
    @include mixins.tablet {
      font-size: 12px;
     }
  }
  .btn {
    color: #fff;
    border: solid;
    width: -5vw;
    height: -4vw;
    border-radius: 0.5vw;
    border-color: variables.$rouge;
    grid-column-end: 5;
    grid-row-end: 3;
    margin-left: auto;
    @include mixins.text-footer;
    @include mixins.phone {
      border-radius: 5vw;
      font-size: 10px;
      grid-column-start: 2;
      grid-row-end: 7;
      width: 30vw;
      margin-left: 0px;
    }
    @include mixins.tablet {
      grid-column-start: 4;
      grid-column-end: 6;
      margin: auto;
      border-radius: 4vw;
    }
  }
  .btn:hover {
    color: variables.$nuage;
    border-color: variables.$rose;
  }
  .arrow {
    grid-column-start: 4;
    grid-row-start: 2; 
    grid-row-end: 4;
    width: 7vw;
    margin-left: 2vw;
    margin-top: 2vw;
    @include mixins.tablet {
      margin: auto 0px;
      grid-row-start: 3; 
      grid-row-end: 4;
    }
    @include mixins.phone {
      display: none;
    }
  }