*.php
wp-config/
wp-admin/
wp-includes/
wp-content/plugins/
wp-content/themes/*/style.css
wp-content/themes/*/style.css.map
license.txt
readme.html
.DS_Store
.htaccess
!wp-content/themes/*/index.php
!wp-content/themes/*/*.php
!wp-content/themes/*/partials/*.php