@charset "UTF-8";
/*--- Importation des partials générales ---*/
/*--- Importation des partials composantes ---*/
/*--- Importation des partials ---*/
.hero {
  overflow: hidden;
}

.revue {
  position: absolute;
  bottom: 200px;
  right: 0;
  width: 460px;
  height: 400px;
  z-index: 1000;
  background-image: url("./assets/images/brush_stroke.png");
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1370px) {
  .revue {
    bottom: 400px;
  }
}
@media only screen and (min-width: 0) and (max-width: 500px) {
  .revue {
    width: 250px;
    height: 250px;
    bottom: 320px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 880px) {
  .revue {
    bottom: 400px;
  }
}
.revue .image {
  width: 200px;
  top: 50px;
  left: 140px;
  border: 3px solid #B80820;
  position: absolute;
}
@media only screen and (min-width: 0) and (max-width: 500px) {
  .revue .image {
    width: 100px;
    left: 80px;
  }
}
.revue .btn-revue {
  width: 60px;
  top: 160px;
  left: 370px;
  position: absolute;
}
@media only screen and (min-width: 0) and (max-width: 500px) {
  .revue .btn-revue {
    width: 45px;
    left: 190px;
    top: 90px;
  }
}
.revue .btn-revue:hover {
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.3));
}

.swiper {
  border-radius: 0 0 80px 80px;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.swiper .swiper-slide img {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(100) contrast(70%) brightness(0.4);
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

.swiper-pagination-bullet-active {
  background-color: #A9A9A9;
}

.conteneur {
  width: 1550px;
  bottom: 25vh;
  position: absolute;
  z-index: 2;
}
@media screen and (max-width: 1750px) {
  .conteneur {
    width: 90vw;
  }
}

.hero .titre {
  left: 0;
  max-width: 950px;
}
.hero .titre h1 {
  font-family: "Tex Gyre Adventor Bold";
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  font-size: 96px;
  line-height: 110px;
  padding-bottom: 10px;
  color: #fff;
}
@media only screen and (min-width: 0) and (max-width: 500px) {
  .hero .titre h1 {
    font-size: 72px;
    line-height: 65px;
  }
}
.hero .titre h1 .rouge {
  color: #B80820;
}
@media only screen and (min-width: 500px) and (max-width: 880px) {
  .hero .titre h1 {
    margin-bottom: -180px;
  }
}
@media only screen and (min-width: 0) and (max-width: 500px) {
  .hero .titre h1 {
    margin-bottom: -140px;
  }
}
.hero .titre p {
  font-family: "Tex Gyre Adventor Regular";
  font-size: 24px;
  color: #000;
  line-height: 40px;
  position: absolute;
  color: #fff;
  border-top: 2.5px solid #fff;
  padding-top: 15px;
}
@media only screen and (min-width: 500px) and (max-width: 880px) {
  .hero .titre p {
    display: none;
  }
}
@media only screen and (min-width: 0) and (max-width: 500px) {
  .hero .titre p {
    display: none;
  }
}

/*--- Importation des partials ---*/
.container-fluid {
  max-width: 1800px;
  padding: 0 5vw 0 5vw;
  margin: 0 auto;
  position: relative;
}

.navbar {
  padding: 25px 0;
  transition: all 0.4s;
}
.navbar-scrolled {
  background-color: #000000;
}
.navbar-toggler {
  height: 60px;
}
.navbar-toggler .toggler-icon {
  background-image: url("./assets/images/hamburger_menu.png");
  border: none;
  outline: none;
  box-shadow: none;
}
@media only screen and (min-width: 1150px) and (max-width: 880px) {
  .navbar-brand {
    display: none;
  }
}
.navbar-brand img {
  height: 60px;
}
.navbar .nav-ligne {
  margin: 0 20px 0 20px;
}
@media only screen and (min-width: 500px) and (max-width: 880px) {
  .navbar .nav-ligne {
    display: none;
  }
}
@media only screen and (min-width: 0) and (max-width: 500px) {
  .navbar .nav-ligne {
    display: none;
  }
}
.navbar .nav-link {
  margin: 0 20px 0 20px;
  font-family: "Tex Gyre Adventor Regular";
  font-size: 24px;
  color: #000;
  line-height: 40px;
  margin: 0 10px 0 10px;
  font-size: 20px;
  color: #fff;
}
.navbar .nav-link:hover {
  color: #B80820;
}
.navbar .don {
  font-family: "Tex Gyre Adventor Regular";
  font-size: 24px;
  color: #000;
  line-height: 40px;
  padding: 5px 20px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border: solid #B80820;
  border-radius: 20px;
}
@media only screen and (min-width: 0) and (max-width: 500px) {
  .navbar .don {
    display: none;
  }
}
.navbar .don:hover {
  background-color: rgba(1, 1, 1, 0.5);
}
.navbar #dropdownMenuButton {
  font-family: "Tex Gyre Adventor Regular";
  font-size: 24px;
  color: #000;
  line-height: 40px;
  color: #fff;
  margin-left: 10px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  text-align: start;
  width: 0;
}
.navbar .dropdown-menu {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.navbar .dropdown-item {
  font-family: "Tex Gyre Adventor Regular";
  font-size: 24px;
  color: #000;
  line-height: 40px;
  color: #fff;
  font-size: 20px;
  padding-left: 22px;
  margin-top: -20px;
}
.navbar .dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #B80820;
}

/*--- Importation des partials ---*/
.footer {
  background-color: #0f0f0f;
  border: solid #0f0f0f;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  width: 100vw;
  max-width: 100%;
  height: 100%;
  position: relative;
}
@media only screen and (min-width: 0) and (max-width: 500px) {
  .footer {
    margin: auto;
    position: relative;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 5px;
  margin-top: 50px;
}
@media only screen and (min-width: 0) and (max-width: 500px) {
  .grid {
    margin: 10px 30px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 10px;
    position: relative;
  }
}

.grid-icon {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 20px;
  position: relative;
}

.item1 {
  grid-column-start: 2;
  grid-row-end: 1;
  grid-row: 1/4;
}

.item2 {
  grid-column-start: 3;
  grid-row-end: 2;
  grid-row: 1/1;
}
@media only screen and (min-width: 0) and (max-width: 500px) {
  .item2 {
    font-size: 12px;
    margin: 0px;
    grid-column-start: 2;
    grid-row-end: 1;
  }
}

.item3 {
  grid-column-start: 3;
  grid-row-end: 3;
  grid-row: 2;
}
@media only screen and (min-width: 0) and (max-width: 500px) {
  .item3 {
    font-size: 12px;
    margin: 0px;
    grid-column-start: 2;
    grid-row-end: 2;
  }
}

.item4 {
  grid-column-start: 3;
  grid-row-end: 4;
  grid-row: 3;
  margin-top: 50px;
}
@media only screen and (min-width: 0) and (max-width: 500px) {
  .item4 {
    font-size: 12px;
    margin: 0px;
    grid-column-start: 2;
    grid-row-end: 3;
  }
}

.item5 {
  grid-column-start: 3;
  grid-row-end: 5;
}
@media only screen and (min-width: 0) and (max-width: 500px) {
  .item5 {
    font-size: 12px;
    margin: 0px;
    grid-column-start: 2;
    grid-row-end: 5;
  }
}

.item6 {
  grid-column-start: 3;
  grid-row-end: 6;
}
@media only screen and (min-width: 0) and (max-width: 500px) {
  .item6 {
    font-size: 12px;
    margin: 0px;
    grid-column-start: 2;
    grid-row-end: 6;
  }
}

.logo-partenaire {
  margin: 100px 20px;
  width: 10vw;
}

.partenaire1 {
  margin-left: 20vw;
}

.ligne {
  background-color: #fff;
  width: 70vw;
  height: 0.1vh;
  margin: auto;
  grid-row-end: 7;
  grid-column-start: 2;
  grid-column-end: 5;
}
@media only screen and (min-width: 0) and (max-width: 500px) {
  .ligne {
    display: none;
  }
}

.logo-footer {
  width: 10vw;
}
@media only screen and (min-width: 0) and (max-width: 500px) {
  .logo-footer {
    margin: 0px;
    width: 16vw;
    grid-column-start: 2;
    grid-row-end: -7;
    bottom: 0px;
    left: 20vw;
  }
}

.text-adresse {
  color: #fff;
  font-family: "Tex Gyre Adventor Regular";
  font-size: 20px;
  color: #fff;
}
@media only screen and (min-width: 0) and (max-width: 500px) {
  .text-adresse {
    font-size: 12px;
    margin: 0px;
  }
}

.text-contact {
  color: #fff;
  font-family: "Tex Gyre Adventor Regular";
  font-size: 20px;
  color: #fff;
}
@media only screen and (min-width: 0) and (max-width: 500px) {
  .text-contact {
    font-size: 12px;
  }
}

.grid_icon {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr 1fr 1.7fr;
}
@media only screen and (min-width: 0) and (max-width: 500px) {
  .grid_icon {
    width: 100px;
    grid-template-rows: 1fr 1fr;
    margin-left: 50px;
    gap: 10px;
    position: absolute;
    top: 20vw;
  }
}

.icon {
  width: 10vw;
  margin: auto;
  grid-column-start: 2;
}
@media only screen and (min-width: 0) and (max-width: 500px) {
  .icon {
    width: 35px;
    grid-row-start: 1;
    margin: auto;
  }
}

.icon1 {
  grid-column-start: 3;
}
@media only screen and (min-width: 0) and (max-width: 500px) {
  .icon1 {
    width: 35px;
    grid-column-start: 1;
    grid-row-start: 1;
  }
}

.icon2 {
  grid-column-start: 4;
}
@media only screen and (min-width: 0) and (max-width: 500px) {
  .icon2 {
    width: 35px;
    grid-column-start: 1;
    grid-row-start: 2;
  }
}

.icon3 {
  grid-column-start: 5;
}
@media only screen and (min-width: 0) and (max-width: 500px) {
  .icon3 {
    width: 35px;
    grid-column-start: 1;
    grid-row-start: 3;
  }
}

.icon4 {
  grid-column-start: 6;
}
@media only screen and (min-width: 0) and (max-width: 500px) {
  .icon4 {
    width: 35px;
    grid-column-start: 1;
    grid-row-start: 4;
  }
}

.icon5 {
  margin-right: 0px;
  grid-column-start: 7;
}
@media only screen and (min-width: 0) and (max-width: 500px) {
  .icon5 {
    width: 35px;
    grid-column-start: 1;
    grid-row-start: 5;
  }
}

.text-copyright {
  margin-top: 20px;
  grid-row-end: 8;
  grid-column-end: 3;
  font-family: "Tex Gyre Adventor Regular";
  font-size: 20px;
  color: #fff;
}
@media only screen and (min-width: 0) and (max-width: 500px) {
  .text-copyright {
    font-size: 10px;
  }
}
@media only screen and (min-width: 0) and (max-width: 500px) and (min-width: 0) and (max-width: 500px) {
  .text-copyright {
    font-size: 12px;
    margin: 0px;
    grid-column-start: 2;
    grid-row-start: 9;
  }
}

.btn {
  color: #fff;
  border: solid;
  width: -5vw;
  height: -4vw;
  border-radius: 0.5vw;
  border-color: #B80820;
  grid-column-end: 5;
  grid-row-end: 3;
  margin-left: auto;
  font-family: "Tex Gyre Adventor Regular";
  font-size: 20px;
  color: #fff;
}
@media only screen and (min-width: 0) and (max-width: 500px) {
  .btn {
    font-size: 10px;
    grid-column-start: 2;
    grid-row-end: 7;
    width: 50vw;
    margin-left: 0px;
  }
}

.btn:hover {
  color: #EBEBEB;
  border-color: #ECDDDD;
}

.arrow {
  grid-column-start: 4;
  grid-row-start: 3;
  width: 7vw;
  margin-left: 12vw;
}
@media only screen and (min-width: 0) and (max-width: 500px) {
  .arrow {
    display: none;
  }
}

/*--- Importation des partials ---*/
.contenant {
  overflow-x: hidden;
  background-image: url("./assets/images/world_map.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  background-position: 0 -10px;
}

h2 {
  font-family: "Tex Gyre Adventor Bold";
  font-weight: bold;
  font-size: 48px;
  color: #000;
  position: relative;
  display: block;
  margin: 100px auto 20px auto;
  width: 400px;
  height: 100px;
}
h2:after {
  content: url("./assets/images/ligne_sous_actualites.png");
  position: relative;
  bottom: 30px;
}

.actualites {
  overflow: hidden;
  text-align: center;
  width: 100vw;
  max-width: 1550px;
  min-width: 1200px;
  height: auto;
}
@media screen and (max-width: 1300px) {
  .actualites {
    -moz-column-gap: 2px;
         column-gap: 2px;
    max-width: auto;
    min-width: 0;
  }
}
@media screen and (max-width: 1200px) {
  .actualites__cartes {
    overflow-x: scroll;
  }
}
.actualites__cartes .scroll {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 3vh;
       column-gap: 3vh;
  padding: 0 20px;
}
@media screen and (max-width: 1300px) {
  .actualites__cartes .scroll {
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
.actualites__cartes .carte {
  background-color: red;
  height: 700px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  position: relative;
  -webkit-backdrop-filter: grayscale(100) contrast(70%) brightness(0.4);
          backdrop-filter: grayscale(100) contrast(70%) brightness(0.4);
}
@media screen and (max-width: 1300px) {
  .actualites__cartes .carte {
    width: 400px;
  }
}
.actualites__cartes .carte__titre {
  font-family: "Tex Gyre Adventor Regular";
  font-size: 24px;
  color: #000;
  line-height: 40px;
  margin-top: 20px;
  width: auto;
  font-size: 18px;
  color: #fff;
  text-align: start;
  padding: 0 30px;
  letter-spacing: 0.8px;
}
.actualites__cartes .carte__titre h3 {
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
}
@media screen and (max-width: 1200px) {
  .actualites__cartes .carte__titre h3 {
    font-size: 28px;
  }
}
.actualites__cartes .carte__titre p {
  border-radius: 25px;
}
.actualites__cartes .carte__titre p span {
  background-color: rgba(136, 136, 136, 0.4);
  border-radius: 25px;
  padding: 5px 15px;
}
.actualites__cartes .carte__details {
  font-family: "Tex Gyre Adventor Regular";
  font-size: 24px;
  color: #000;
  line-height: 40px;
  position: absolute;
  width: 100%;
  color: #fff;
  font-size: 24px;
  text-align: start;
  bottom: 0;
  margin: 15px 30px;
}
.actualites__cartes .carte .btn-nouvelle {
  width: 50px;
  right: 0;
  bottom: 0;
  margin: 30px;
  position: absolute;
}
.actualites__cartes .carte:nth-child(1) {
  background-image: url("./assets/images/nouvelle_armes_israel.png");
}
.actualites__cartes .carte:nth-child(2) {
  background-image: url("./assets/images/nouvelle_armes_israel.png");
}
.actualites__cartes .carte:nth-child(3) {
  background-image: url("./assets/images/nouvelle_armes_israel.png");
}
.actualites__cartes .carte:hover {
  filter: none;
  /*transform: scale(1.02);*/
  cursor: pointer;
}

.toutes-nouvelles {
  font-family: "Tex Gyre Adventor Regular";
  font-size: 24px;
  color: #000;
  line-height: 40px;
  font-size: 34px;
  padding: 20px 40px 20px 40px;
  margin: 45px 0 100px 0;
  background-color: rgba(0, 0, 0, 0);
  border: solid #B80820 4px;
  border-radius: 40px;
}
.toutes-nouvelles:hover {
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
}

.contenant_lutte {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
@media only screen and (min-width: 500px) and (max-width: 880px) {
  .contenant_lutte {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.img_lutte {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  border-radius: 70px 0 0 70px;
}
@media only screen and (min-width: 500px) and (max-width: 880px) {
  .img_lutte {
    width: 100%;
    border-radius: 70px 70px 0 0;
  }
}

.luttes_cartes {
  display: flex;
  height: auto;
  background-color: #fff;
  border-radius: 70px;
  position: relative;
  text-align: left;
  -webkit-backdrop-filter: grayscale(100) contrast(70%) brightness(0.4);
          backdrop-filter: grayscale(100) contrast(70%) brightness(0.4);
}
@media only screen and (min-width: 500px) and (max-width: 880px) {
  .luttes_cartes {
    flex-direction: column;
    width: 100vw;
  }
}

.text_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("./assets/images/fond_lutte_actualite.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: bottom left;
}
@media only screen and (min-width: 500px) and (max-width: 880px) {
  .text_container {
    background-image: none;
  }
}

.titre_lutte {
  font-family: "Tex Gyre Adventor";
  font-size: 48px;
  color: #000;
}
@media only screen and (min-width: 500px) and (max-width: 880px) {
  .titre_lutte {
    font-size: 34px;
  }
}

.titre_lutte2 {
  font-family: "Tex Gyre Adventor Bold";
  font-weight: bold;
  font-size: 48px;
  color: #000;
}
@media only screen and (min-width: 500px) and (max-width: 880px) {
  .titre_lutte2 {
    font-size: 34px;
  }
}

.text_lutte {
  font-family: "Tex Gyre Adventor Regular";
  font-size: 24px;
  color: #000;
  line-height: 40px;
  width: 100%;
  margin: 30px 0 30px 0;
}

.link_lutte {
  font-family: "Tex Gyre Adventor Regular";
  font-size: 24px;
  color: #B80820;
}
.link_lutte:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.btn_container {
  position: absolute;
  bottom: -40px;
  align-self: center;
}
@media only screen and (min-width: 500px) and (max-width: 880px) {
  .btn_container {
    display: flex;
    bottom: -35px;
  }
}

.btn-next {
  width: 80px;
}
@media only screen and (min-width: 500px) and (max-width: 880px) {
  .btn-next {
    display: flex;
    width: 70px;
  }
}

.btn-right {
  rotate: 180deg;
  margin-right: 20px;
}

/*--- Importation des fonts ---*/
@font-face {
  font-family: "TeX Gyre Adventor Regular";
  src: url("./assets/fonts/texgyreadventor-regular.otf") format("opentype");
}
@font-face {
  font-family: "TeX Gyre Adventor Bold";
  font-weight: bold;
  src: url("./assets/fonts/texgyreadventor-bold.otf") format("opentype");
}
* {
  margin: 0;
}

body {
  background-color: #F4F4F4;
}/*# sourceMappingURL=style.css.map */