/*--- Importation des partials générales ---*/
@use "partials-scss/variables";
@use "partials-scss/mixins";
@use "sass:color";

/*--- Importation des partials composantes ---*/
@use "partials-scss/composantes/hero";
@use "partials-scss/composantes/header";
@use "partials-scss/composantes/footer";
@use "partials-scss/composantes/accueil-actualites";
@use "partials-scss/composantes/accueil-luttes";
@use "partials-scss/composantes/accueil-temoignages";
@use "partials-scss/composantes/accueil-dons";

/*--- Importation des fonts ---*/
@font-face {
  font-family: "TeX Gyre Adventor Regular";
  src: url("./assets/fonts/texgyreadventor-regular.otf") format("opentype");
}

@font-face {
  font-family: "TeX Gyre Adventor Bold";
  font-weight: bold;
  src: url("./assets/fonts/texgyreadventor-bold.otf") format("opentype");
}

* {
  margin: 0;
}

body {
  background-color: #f4f4f4;
}

.rouge {
  color: variables.$rouge;
}

.contenu {
  margin: 35px;
}