@use "../mixins";
@use "../variables";
@use "sass:color";

.bande_projet {
  /*background-color: variables.$charbon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10%;
    position: sticky;*/
  background-color: variables.$charbon;
  padding: 15px 50px 0 50px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1020;
}

.text_bande {
  position: relative;
  text-align: center;
  color: variables.$nuage;
  font-size: 18px;
  line-height: 20px;
  @media screen and (max-width: 1160px) {
    font-size: 14px;
  }
  @media screen and (max-width: 920px) {
    font-size: 12px;
  }
  @media screen and (max-width: 820px) {
    font-size: 10px;
  }
  a {
    font-size: 18px;
    line-height: 10px;
    @media screen and (max-width: 1160px) {
      font-size: 14px;
    }
    @media screen and (max-width: 920px) {
      font-size: 12px;
    }
    @media screen and (max-width: 820px) {
      font-size: 10px;
    }
  }
}

.close-btn {
  background: none;
  border: none;
  color: variables.$nuage;
  font-size: 1.5rem;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 20px;
  transition: color 0.5s;
}

.close-btn:hover {
  color: variables.$rouge;
}
