@use "../mixins";
@use "../variables";
@use "sass:color";

body:has(.bande_devant) {
  overflow: hidden;
  width: 100vw;
  max-width: 100%;
}

.lien_error {
  @include mixins.lien;
  position: absolute;
  left: 50%;
  top: 70vh;
  transform: translate(-50%, -50%);
}

.bande_devant, .bande_derriere {
  position: absolute;
  width: 150vw;
  left: -10px;
  height: 140px;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  overflow: hidden;
}

.bande_devant {
  background: variables.$rouge;
  rotate: 3deg;
}

.bande_derriere {
  background: variables.$charbon;
  rotate: -2deg;
  z-index: -1;
}

.marquee {
  display: flex;
  align-items: center;
  white-space: nowrap;
  @include mixins.gros-titre;
  font-size: 80px;
  color: #fff;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 1px; 
  &:hover {
    color: transparent;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 1px; 
  }
}
