@use "../mixins";
@use "../variables";
@use "sass:color";

.body_une_lutte {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
    margin-bottom: 150px;
}

.section_une_lutte {
    max-width: 800px;
    margin: 20px;
}

.titre_une_lutte {
    color: #333333;
    margin-bottom: 10px;
    font-size: 36px;
    font-family: "Tex Gyre Adventor Bold";
}

.date_une_lutte{
    font-size: 24px;
    color: #555555;
    line-height: 1.6;
    font-family: "Tex Gyre Adventor Bold";
}

.description_une_lutte{
    font-size: 30px;
    font-family: "Tex Gyre Adventor Bold";
}

.image_une_lutte {
    border-radius: 70px;
    max-height: 400px;
    margin-top: 20px;
    width: 100%;
}