@use "../mixins";
@use "../variables";
@use "sass:color";

.container_page_luttes {
    position: relative;
    width: 100%;
    margin-top: 150px;    
    display: grid;
    grid-template-columns: 1fr  1fr;    
    gap: 5px;
}

.title_lutte{
    font-size: 48px;
}

.description_lutte{
    font-size: 24px;
}

.card_page_luttes {
    width: 40vw;
    border: 3px solid red;
    border-radius: 10px;
    padding: 20px;
    margin: 30px auto;

}

.image_lutte_page{
  grid-column-start: 1;
  grid-column-end: 3;
}

.image_of_lutte{
  width: 100%;
  max-height: 700px;
  border-radius: 50px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  margin-top: 20px;
  margin-bottom: 20px;
}

.link_page_luttes {
    font-family: "Tex Gyre Adventor Regular";
    font-size: 24px;
    color: variables.$rouge;
    &:hover {
      color: #000;
      text-decoration: none;
      cursor: pointer;
}
}

.card_page_luttes h3 {
    margin: 0 0 10px;
}
.card_page_luttes p {
    margin: 0;
}