@use "../mixins";
@use "../variables";
@use "sass:color";

.container_page_luttes {
    position: relative;
    width: 100%;
    margin-top: 150px;
}
.card_page_luttes {
    width: 90vw;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    margin: 30px auto;
}

.card_page_luttes h3 {
    margin: 0 0 10px;
}
.card_page_luttes p {
    margin: 0;
}