@use "../mixins";
@use "../variables";
@use "sass:color";
 

.hero-lutte {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  @include mixins.phone {
    height: 80vh;
  }
  @media screen and (orientation: landscape) and (max-height: 1000px) {   
    height: 125vh;
}
}

.btns-lutte {
  display: flex;
  width: 100%;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  color: variables.$rouge;
  font-size: 20px;
    @include mixins.phone {
      font-size: 12px;
    }
}   

.btns-lutte_02 {
  margin-left: auto;
}

.btns-lutte :hover {
      color: #000;
      cursor: pointer;
    }

.body_une_lutte {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 150px;
    position: relative;
    max-width: 1500px;
    margin: 200px auto;
}
 
/*.article_lutte {
    border-bottom: 2px solid black;
}*/
 
.article_lutte_text {
margin: 40px 80px;
}
 
.section_une_lutte {
  @media screen and (max-width: 1500px) {
    margin: 0 20px;
  }
}
 
.titre_une_lutte {
    color: #333333;
    margin-bottom: 10px;
    font-size: 36px;
    margin-top: 50px;
    font-family: "Tex Gyre Adventor Bold";
}
 
.date_une_lutte{
    font-size: 24px;
    color: #555555;
    line-height: 1.6;
    @include mixins.contenu;
}
 
.description_une_lutte{
    font-size: 30px;
    text-align: justify;
    font-family: "Tex Gyre Adventor Bold";
    @include mixins.description-base;
    @include mixins.phone {
        font-size: 16px;
      }
    @include mixins.tablet {
        font-size: 16px;
    }
}
 
.image_une_lutte {
    filter: grayscale(100%);
    border-radius: 70px;
    height: 50vh;
    object-fit: cover;
    margin-top: 10px;
    width: 100%;
    @include mixins.tablet {
        height: 45vh;
      }
    @include mixins.phone {
      height: 30vh;
    }
}
 
.text_unelutte {
    text-align: justify;
    @include mixins.contenu;
    font-size: 28px;
    @include mixins.phone {
      font-size: 16px;
    }
    @include mixins.tablet {
        font-size: 16px;
    }
}
 
.link_unelutte {
    @include mixins.contenu;
    font-size: 18px;
    @include mixins.phone {
      font-size: 16px;
    }
    @include mixins.tablet {
        font-size: 16px;
    }
}
 
.btn_une_lutte {
    display: flex;
    border: solid;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    max-height: 5vw;
    border-radius: 10px;
    border-color: variables.$rouge;
    margin-left: auto;
    color: variables.$rouge;
    bottom: 20px;    
    @include mixins.text-footer;
    @include mixins.phone {
      border-radius: 15px;
      font-size: 10px;
      width: 30vw;
      height: 7vw;
      min-width: 200px;
      min-height: 50px;
      margin-left: 0px;
      margin: auto;
    }
    @include mixins.tablet {
      width: 30vw;
      min-width: 100px;
      margin: auto;
      border-radius: 15px;
      font-size: 14px;
    }
  }
 
  .btn_une_lutte:hover {
    border-color: variables.$rose;
  }
 
  .Retour_lutte {
    color: black;
    font-size: large;
}