@use "../mixins";
@use "../variables";
@use "sass:color";
 
/*.container_page_luttes {
    position: relative;
    width: 100%;
    margin-top: 150px;    
    display: grid;
    gap: 5px;
    @include mixins.phone {
        grid-template-columns: 1fr;  
      }
 
    @include mixins.xl {
        grid-template-columns: 1fr 1fr;  
    }
}
 
.title_lutte{
    font-size: 48px;
}
 
.description_lutte{
    font-size: 24px;
}
 
.card_page_luttes {
    width: 40vw;
    border: 3px solid red;
    border-radius: 10px;
    padding: 20px;
    margin: 30px auto;
    max-width: 500px;
    @include mixins.phone {
        grid-column-start: 1;
        grid-column-end: 2;
        width: 70vw;
      }
      @include mixins.xl {
        grid-column-start: 1;
        grid-column-end: 3;
        width: 70vw;
      }
}
 
.image_lutte_page{
  grid-column-start: 1;
  grid-column-end: 4;
}
 
.image_of_lutte{
  width: 100%;
  max-height: 700px;
  border-radius: 50px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: cover;
  @include mixins.phone {
    display: none;
  }
  @include mixins.tablet {
    display: none;
  }
}
 
.link_page_luttes {
    font-family: "Tex Gyre Adventor Regular";
    font-size: 24px;
    color: variables.$rouge;
    &:hover {
      color: #000;
      text-decoration: none;
      cursor: pointer;
}
}
 
.card_page_luttes h3 {
    margin: 0 0 10px;
}
.card_page_luttes p {
    margin: 0;
}*/

.container_page_luttes {
    position: relative;
    width: 100%;
    margin-top: 150px;    
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    
}
 
.title_lutte{
    font-size: 48px;
    @include mixins.phone {
        font-size: 24px;
      }
    @include mixins.tablet {
        font-size: 48px;
    }
}
 
.description_lutte{
    font-size: 24px;
    @include mixins.phone {
        font-size: 12px;
      }
    @include mixins.tablet {
        font-size: 24px;
    }
}
 
.card_page_luttes {
    width: 100%;
    border: 3px solid red;
    border-radius: 10px;
    padding: 20px;
    margin: 40px auto;
    max-width: 500px;
      @include mixins.desktop {
        max-width: 500px;
        margin-right: 200px;
      }
}
 
.image_of_lutte{
  width: 100%;
  max-height: 700px;
  border-radius: 50px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: cover;
  @include mixins.phone {
    display: none;
  }
  @include mixins.tablet {
    display: none;
  }
}
 
.image_lutte_page{
    width: 100%;
}
 
.link_page_luttes {
    font-family: "Tex Gyre Adventor Regular";
    font-size: 24px;
    color: variables.$rouge;
    transition: box-shadow 0.5s;
    &:hover {
      color: #000;
      text-decoration: none;
      cursor: pointer;
}
}
 
.card_page_luttes h3 {
    margin: 0 0 10px;
}
.card_page_luttes p {
    margin: 0;
}

.tache_partenaire_droit{
  position: fixed;
  top: 300px; 
  right: 0;
  width: 900px;
}

.tache_partenaire_gauche{
  position: fixed;
  top: -300px; 
  left: 0;
  width: 900px;
}

