/*--- Importation des partials ---*/
@use "../mixins";
@use "../variables";
@use "sass:color";
 
.footer {
  background-color: #0f0f0f;
  border: solid #0f0f0f;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  position: relative;
  @include mixins.phone {
    margin: auto;
    position: relative;
  }
}
 
  .overall-container{
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 20vw;
    @include mixins.phone {
      display: flex;
      flex-direction: column;
      margin-top: 50vw;
    }
    @include mixins.tablet {
      display: flex;
      margin-top: 60vw;
    }
  }
 
  .grid {
    display: flex;
    flex-direction: column;
    width: 30vw;
    max-width: 40vw;
    @include mixins.phone {
      margin: auto;
      position: relative;
    }
  }
 
  .grid-2 {
    width: 20vw;
    display: flex;
    flex-direction: column;
 
    @include mixins.phone {
      position: relative;
      margin: 10vw auto;
    }
  }
 
  .grid-3 {
    display: flex;
    flex-direction: column;
    width: 30vw;
    @include mixins.phone {
      margin: auto;
      position: relative;
    }
  }
 
  .text-don-footer{
    margin: auto;
  }
 
  .btn-don-footer {
    display: flex;
    border: solid;
    background-color: #0f0f0f;
    width: 20vw;
    height: 5vw;
    max-width: 17vw;
    max-height: 5vw;
    border-radius: 20px;
    border-color: variables.$rouge;
    margin-left: auto;
    @include mixins.text-footer;
    @include mixins.phone {
      border-radius: 15px;
      font-size: 10px;
      width: 30vw;
      height: 7vw;
      min-width: 200px;
      min-height: 50px;
      margin-left: 0px;
    }
    @include mixins.tablet {
      width: 30vw;
      max-width: 22vw;
      height: 7vw;
      margin: auto;
      border-radius: 15px;
      font-size: 14px;
    }
  }
 
  .btn-don-footer:hover {
    color: variables.$nuage;
    border-color: variables.$rose;
  }
 
 
  .arrow {
    display: flex;
    width: 10vw;
    margin: 0px auto;
    @include mixins.tablet {
      margin-left: 5vw;
      margin-top: 5vw;
    }
    @include mixins.phone {
      display: none;
    }
  }
 
  .contenant-icon {
    display: flex;
    margin-top: 20px;
    position: relative;
  }
  .item1 {
 
    @include mixins.tablet {
      margin: auto;    
    }
  }
  .item2 {
    @include mixins.phone {
      font-size: 12px;
      margin-top: 100px;
    }
  }
  .item3 {
    @include mixins.phone {
      font-size: 12px;
      margin: 0px;
 
    }
  }
  .item4 {
    margin-top: 50px;
    @include mixins.tablet {
      margin: auto 0px;
    }
    @include mixins.phone {
      font-size: 12px;
    }
  }
  .item5 {
 
    @include mixins.phone {
      font-size: 12px;
    }
  }
  .item6 {
 
    @include mixins.phone {
      font-size: 12px;
    }
  }
 
  .ligne {
    background-color: #fff;
    width: 78vw;
    height: 0.1vh;
    margin-left: 10vw;
    @include mixins.phone {
      display: none;
    }
  }
  .logo-footer {
    width: 10vw;
    @include mixins.tablet {
      width: 16vw;
    }
    @include mixins.phone {
      margin: 0px;
      width: 16vw;
      bottom: 0px;
      left: 20vw;
    }
  }
  .text-adresse {
    color: #fff;
    @include mixins.text-footer;
    @include mixins.phone {
      font-size: 12px;
      margin: 0px;
    }
    @include mixins.tablet {
      font-size: 12px;
     }
  }
  .text-contact {
    color: #fff;
    @include mixins.text-footer;
    @include mixins.phone {
      font-size: 12px;
    }
    @include mixins.tablet {
      font-size: 12px;
     }
  }
 
  .grid_icon{
    display: flex;
    justify-content: center;
    align-items: start;
    @include mixins.phone {
      flex-direction: column;
      margin: 0px;
    }
    @include mixins.tablet {
      gap: 10px;
      margin: 4px;
    }
  }
 
  .icon {
    width: 10vw;
    margin: 0px 70px;
    max-width: 70px;
     @include mixins.phone {
      display: flex;
      flex-direction: column;
      margin: 0px 40px;
    }
    @include mixins.tablet {
      width: 7vw;
      margin: 0px auto;
    }
  }
   
  .icon1 {  
    @include mixins.phone {
      width: 50px;
      position: absolute;
      top: 800px;
      left: 100px;
    }
 
  }
 
  .icon2 {
    @include mixins.phone {
      width: 50px;
      position: absolute;
      top: 800px;
      left: 200px;
    }
  }
 
  .icon3 {
    @include mixins.phone {
      width: 50px;
      position: absolute;
      top: 800px;
      left: 300px;
    }
  }
 
  .icon4 {
    @include mixins.phone {
      width: 50px;
      position: absolute;
      top: 900px;
      left: 150px;
    }
  }
 
  .icon5 {
    @include mixins.phone {
      width: 50px;
      position: absolute;
      top: 900px;
      left: 250px;
    }
  }
  .text-copyright {
    text-align: center;
    margin-top: 50px;
      @include mixins.phone {
        font-size: 12px;
        margin: 20px 150px;
      }
    @include mixins.text-footer;
    @include mixins.tablet {
      font-size: 12px;
     }
  }

/* section des partenaire*/ 
.partenaire_sous_titre {
  @include mixins.petit-titre-bold;
    text-align: left;
    position: relative;
    display: block;
    width: 500px;
    margin-left: 70px;
    @include mixins.tablet {
      text-align: center;
      width: 300px;
      margin: auto;
    }
    @include mixins.phone {
      text-align: center;
      width: 300px;
      margin: auto;
    }
}

.contenu_partenaire {
  display: flex;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
}

.img_partenaire {
  width: 100%;
  max-width: 500px;
  align-items: center;
  justify-content: center;
  @include mixins.phone {
    width: 100%;
    max-width: 150px;
  }
  @include mixins.tablet {
    width: 100%;
    max-width: 200px;
 }
}

.carte-partenaire{
  position: relative;
  width: 100%;
  height: 500px; 
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px; 
  @include mixins.phone {
    width: 100%;
    height: 150px; 
  }
  @include mixins.tablet {
    width: 100%;
    height: 200px; 
 }
}

.swiper-partenaire {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px 0;
}


body {
  margin: 0;
  height: 100vh;
  font-size: 1.5rem;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

