/*--- Importation des partials ---*/
@use "../mixins";
@use "../variables";
@use "sass:color";

.hero {
    overflow: hidden;
  }
  
  // Revue
  .revue {
    position: absolute;
    bottom: 200px;
    right: 0;
    width: 460px;
    height: 400px;
    z-index: 1000;
    background-image: url("./assets/images/brush_stroke.png");
    background-size: cover;
    background-repeat: no-repeat;
    @media screen and (max-height: 1080px) {
      width: 250px;
      height: 250px;
      bottom: 230px;
    }
    @include mixins.phone {
      width: 250px;
      height: 250px;
      bottom: 320px;
    }
    @media screen and (max-height: 2240px) {
      bottom: 500px;
    }
    .image {
      width: 200px;
      top: 50px;
      left: 140px;
      border: 3px solid variables.$rouge;
      position: absolute;
      @media screen and (max-height: 1080px) {
        width: 100px;
        left: 80px;
      }
      @include mixins.phone {
        width: 100px;
        left: 80px;
      }
    }
    .btn-revue {
      width: 60px;
      top: 160px;
      left: 370px;
      position: absolute;
      @media screen and (max-height: 1080px) {
        width: 45px;
        left: 190px;
        top: 90px;
      }
      @include mixins.phone {
        width: 45px;
        left: 190px;
        top: 90px;
      }
      &:hover {
        filter: drop-shadow(0 0 8px rgba(0, 0, 0, 1));
      }
    }
  }
  
  // Swiper
  .swiper-hero {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    .swiper-slide img {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      filter: grayscale(100) contrast(70%) brightness(0.4);
    }
  }
  
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
  
  .swiper-pagination-bullet-active {
    background-color: variables.$argent;
  }
  
  // Titre
  .conteneur {
    width: 1550px;
    bottom: 25vh;
    position: absolute;
    z-index: 2;
    @media screen and (max-width: 1750px) {
      width: 90vw;
    }
  }
  
  .hero .titre {
    left: 0;
    max-width: 950px;
    h1 {
      @include mixins.gros-titre;
      padding-bottom: 10px;
      color: #fff;
      .rouge {
        color: variables.$rouge;
      }
      @media screen and (max-height: 1080px) {
        font-size: 64px;
        line-height: 75px;
      }
      @include mixins.tablet {
        margin-bottom: -180px;
      }
      @include mixins.phone {
        margin-bottom: -140px;
        line-height: 75px;
      }
    }
    p {
      @include mixins.contenu;
      position: absolute;
      color: #fff;
      border-top: 2.5px solid #fff;
      padding-top: 15px;
      @media screen and (max-height: 1080px) {
        font-size: 18px;
        line-height: 28px;
      }
      @include mixins.tablet {
        display: none;
      }
      @include mixins.phone {
        display: none;
      }
    }
  }